<%= display_header_index(@reviews) %>


<% @reviews.each do |review| %>
<p><%= review.laptop.brand_name %> - Condition: <%= review.laptop.condition %> - Rate: <%= link_to review.stars, review_path(review)%> stars</p>
<%end%>

